@import "bourbon/bourbon";

html.no-js {
    margin: 0 auto;
    width: 100%;
    font-family: sans-serif;
}

.wrapper {
    background-color: #fffff;
    margin: 0 auto;
    width: 100%;
}

header  {
    position:fixed;  
    top: 0;  
    z-index: 1;  
    width: 100%;
    background-color: #7AC2CE;
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-size: 36px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}

.container  {
    width: 960px;
    margin: 0 auto;
    padding-top: 120px;
}
/*
.block  {
    margin: 30px 0;
    display: block;
    position: relative;
    width: 210px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}
*/

ul#tile    {
    border-top: 1px solid #e5e5e5;
    padding: 18px 20px;
}

ul, li {
    list-style-type: none;
}

li {
    margin: 30px;
    padding: 20px;
    display: block;
    position: relative;
    width: 180px;
    height: 280px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
    display: inline-block;


}

h4 {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
}

h5 {
    color: #B2B2B2;
    font-size: 11px;
    margin-bottom: 0px;
}

a {
    color: #74C344;
    text-decoration: none;
    font-size: 16px;
    float: right;
}


footer  {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
