@import "bourbon/bourbon";

.fancy  {
    position:fixed;  
    top: 0;  
    z-index: 1;  
    width: 100%;
    background-color: orange;
    font-family: 'Glegoo', serif;
    font-style: normal;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
}

/*
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
*/